<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Munch"
    Version="$(var.ProductVersion)"
    Manufacturer="WyvernCW"
    UpgradeCode="c2e8e4a0-3f8a-4a5e-9b1d-7e8f9a0b1c2d"
    Scope="perUser"
    Compressed="yes">

    <MajorUpgrade DowngradeErrorMessage="A newer version of Munch is already installed." />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="ARPHELPLINK" Value="https://github.com/WyvernCW/MunchsPlugin" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/WyvernCW/MunchsPlugin" />
    <Property Id="AUTOUPDATE" Value="1" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <Icon Id="icon.ico" SourceFile="$(var.SourceDir)munch_plugin_logo.png" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsDir" Name="Programs">
        <Directory Id="INSTALLDIR" Name="Munch">
          <Component Id="InstallDirComponent" Guid="a1b2c3d4-e5f6-7890-abcd-ef1234567890" Bitness="always64">
            <RemoveFolder Id="RemoveInstallDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Munch" Name="InstallDir" Type="string" Value="[INSTALLDIR]" />
            <RegistryValue Root="HKCU" Key="Software\Munch" Name="AutoUpdate" Type="integer" Value="[AUTOUPDATE]" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainProduct" Title="Munch" Level="1">
      <ComponentGroupRef Id="HarvestedFiles" />
      <ComponentRef Id="InstallDirComponent" />
    </Feature>
  </Package>

  <Fragment>
    <CustomAction Id="RunFirstRun"
      ExeCommand="WindowsPowerShell\v1.0\powershell.exe -ExecutionPolicy Bypass -NoProfile -File &quot;[INSTALLDIR]scripts\first-run.ps1&quot; -InstallDir &quot;[INSTALLDIR]&quot;"
      Directory="SystemFolder"
      Impersonate="yes"
      Execute="deferred"
      Return="check" />

    <InstallExecuteSequence>
      <Custom Action="RunFirstRun" After="InstallFinalize" Condition="NOT Installed" />
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <UI Id="MunchWizardUI">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="WelcomeDlg" />
      <DialogRef Id="LicenseAgreementDlg" />
      <DialogRef Id="InstallDirDlg" />
      <DialogRef Id="VerifyReadyDlg" />
      <DialogRef Id="ExitDialog" />

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg" Condition="1" />
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Condition="LicenseAccepted = &quot;1&quot;" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="AutoUpdateDlg" Condition="1" />
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1" Condition="1" />
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2" Condition="1" />
      <Publish Dialog="AutoUpdateDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Condition="1" />
      <Publish Dialog="AutoUpdateDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Condition="1" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="AutoUpdateDlg" Condition="1" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Condition="Installed" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="1" Condition="1" />
      <Publish Dialog="WelcomeDlg" Control="Cancel" Event="EndDialog" Value="Exit" Condition="1" />
      <Publish Dialog="LicenseAgreementDlg" Control="Cancel" Event="EndDialog" Value="Exit" Condition="1" />
      <Publish Dialog="InstallDirDlg" Control="Cancel" Event="EndDialog" Value="Exit" Condition="1" />
      <Publish Dialog="VerifyReadyDlg" Control="Cancel" Event="EndDialog" Value="Exit" Condition="1" />
      <Publish Dialog="AutoUpdateDlg" Control="Cancel" Event="EndDialog" Value="Exit" Condition="1" />
      <Publish Dialog="ExitDialog" Control="Cancel" Event="EndDialog" Value="Exit" Condition="1" />
    </UI>

    <InstallUISequence>
      <Show Dialog="WelcomeDlg" Sequence="1001" />
      <Show Dialog="ProgressDlg" Sequence="1003" />
    </InstallUISequence>

    <UI>
      <Dialog Id="AutoUpdateDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" Text="WixUI_Bmp_Banner" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Updates" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Configure automatic update settings" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="InfoText" Type="Text" X="15" Y="60" Width="340" Height="20" TabSkip="no" Text="Munch can automatically download and install the latest updates silently in the background." />
        <Control Id="AutoUpdateCheckbox" Type="CheckBox" X="25" Y="105" Width="290" Height="18" Property="AUTOUPDATE" CheckBoxValue="1" Text="Enable automatic updates (recommended)" />
        <Control Id="DescText" Type="Text" X="40" Y="125" Width="290" Height="30" TabSkip="yes" Text="If disabled, you will be notified when updates are available so you can install them manually." />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="{\WixUI_Font_Normal}&amp;Next">
          <Publish Event="NewDialog" Value="VerifyReadyDlg" Condition="1" />
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="{\WixUI_Font_Normal}&amp;Back">
          <Publish Event="NewDialog" Value="InstallDirDlg" Condition="1" />
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="{\WixUI_Font_Normal}&amp;Cancel">
          <Publish Event="EndDialog" Value="Exit" Condition="1" />
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
